{% load i18n %}
<div class='problems-wrapper embedded_answers'>
	<div class="problem-header-container">
		<h3 class='hd hd-3 problem-header' id="{{element_id}}-problem-title">{{ display_name }}</h3>
		<div class='problem-progress'>{{problem_progress}}</div>
	</div>

	<div class="problem">
		<div>
			<div class="wrapper-problem-response">
				<div class="wrapper-problem-title">{% trans 'Fill in the missing answers' %}</div>
				<div class='question_prompt'>{{prompt | safe}}</div>
			</div>
		</div>
		<div class='action'>
			<div class="problem-action-buttons-wrapper">
				<div class="submit-attempt-container">
					<button class="btn-brand submit" {% if not should_enable_submit_button %} disabled="disabled" {% endif %}
					type='button'>{% trans 'Submit' %}</button>
	
					<div class="submission-feedback" id="submission_feedback_{{ element_id }}">
							{{submit_feedback}}
						<span class="sr">${_("Some problems have options such as save, reset, hints, or show answer. These options follow the Submit button.")}</span>
					</div>
				</div>

				<div class="problem-action-button-wrapper">
					<span class="problem-action-button-wrapper {% if not should_show_hint_button %} is-hidden {% endif %}">
						<button type="button" class="hint-button problem-action-btn btn-link btn-small" data-value="{% trans 'Hint' %}">
							<span>{% trans 'Hint' %}</span>
							<span class="sr">{% trans "Show hint" %}</span>
						</button>
					</span>
					<span class="problem-action-button-wrapper {% if not should_show_save_button %} is-hidden {% endif %}">
						<button type="button" class="save problem-action-btn btn btn-sm btn-outline-primary" data-value="{% trans 'Save' %}">
							<i class="fa fa-save"></i>
							<span>{% trans 'Save' %}</span>
							<span class="sr">{% trans "Save your answer" %}</span>
						</button>
					</span>
					<span class="problem-action-button-wrapper {% if not should_show_reset_button %} is-hidden {% endif %}">
						<button class='reset problem-action-btn btn-link btn-small'	type='button'><i class="icon fa fa-refresh"></i>{% trans 'Reset' %}</button>
					</span>
					<span class="problem-action-button-wrapper {% if not should_show_answer_button %} is-hidden {% endif %}">
						<button type="button" class="show problem-action-btn btn-link btn-small" aria-describedby="${ short_id }-problem-title"><span class="show-label">{% trans 'Show Answer' %}</span></button>
					</span>
				</div>
			</div>


		</div>
		<div class="notification notification-submit is-hidden" tabindex="-1">
			<span class="notification-message" aria-describedby={{element_id}}-problem-title></span>
		</div>
	</div>
</div>
