.embedded_answers .question_prompt {
  text-align: left;
  /* padding-bottom: 20px; */
}
.embedded_answers .problem {
  background-color: white;
}
.embedded_answers .action {
  background-color: white;
  border:none;
}
.embedded_answers .feedback {
  text-align: left;
  padding-bottom: 20px;
}
.embedded_answers #input{
  width: 12.5rem;
}
.embedded_answers .wide{
  width: 25rem;
}
.embedded_answers .wrapper-problem-title{
  color: #262640;
  font: normal normal bold 20px/30px Mulish;
}
.embedded_answers .hint {
  text-align: left;
  padding-bottom: 20px;
}
.embedded_answers .question_prompt{
  font: normal normal normal 1.125rem/1.75 Mulish;
  color: #262640;
}
.embedded_answers .input-number{
  font: normal normal 600 1.125rem/1.75 Mulish;
  color: #262640;
}
.embedded_answers .correct {
    color: #008100 !important;
}

.embedded_answers .incorrect {
    color: #b2060e !important;
}

.embedded_answers .feedback_number_correct {
    color: #008100 !important;
    position: relative;
    top: -0.5em;
    font-size: 80%;
    font-weight: bold;
}

.embedded_answers .feedback_number_incorrect {
    color: #b2060e !important;
    position: relative;
    top: -0.5em;
    font-size: 80%;
    font-weight: bold;
}

.embedded_answers .notification.warning {
    background: rgba(255, 215, 0, 0.65);
}

.embedded_answers .notification.error {
    background: rgba(255,69,0,0.65);
    color: #f8f9fa;
}

.embedded_answers .notification.general {
    background: rgba(0, 139, 139, 0.65);
    color: #f8f9fa ;
}

.embedded_answers .notification.general .icon {
  color: #f8f9fa !important;
}

.embedded_answers .notification.is-hidden {
  display: none !important;
}

.embedded_answers .notification {
    align-items: center;
    display: flex;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 1rem;
}


/* .embedded_answers .notification.warning .icon {
  margin-right: 15px;
  color: #e2c01f;
}

.embedded_answers .notification.success .icon {
  margin-right: 15px;
  color: #008100;
}

.embedded_answers .notification.error .icon {
  margin-right: 15px;
  color: #b20610;
} */

.embedded_answers .notification .icon {
  font-size: 2rem;
  line-height: 1.125;
  margin-right: 1rem;
}
/* .embedded_answers .notification-message {
  display: inline-block;
  width: 69.23077%;
  margin-bottom: 8px;
} */

/* .fa, .fas, .far, .fal, .fab {
  font-size: 2rem;
  line-height: 1.125;
  margin-right: 1rem;
} */

.embedded_answers .submission-feedback {
  display: block;
  /* font-size: .875rem; */
  margin: 0 !important;
}
