.embedded_answers .question_prompt {
  text-align: left;
  padding-bottom: 20px;
}

.embedded_answers .feedback {
  text-align: left;
  padding-bottom: 20px;
}

.embedded_answers .hint {
  text-align: left;
  padding-bottom: 20px;
}

.embedded_answers .correct {
    color: #008100 !important;
}

.embedded_answers .incorrect {
    color: #b2060e !important;
}

.embedded_answers .feedback_number_correct {
    color: #008100 !important;
    position: relative;
    top: -0.5em;
    font-size: 80%;
    font-weight: bold;
}

.embedded_answers .feedback_number_incorrect {
    color: #b2060e !important;
    position: relative;
    top: -0.5em;
    font-size: 80%;
    font-weight: bold;
}
